/* //! Note media queries below */

.container {
    width: 100%;
    margin: auto;
    margin-bottom: 200px;
}

.wrap {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -ms-flex-direction: row;
}

.box {
    margin: 20px;
    width: 28%;
    height: 400px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: 200ms ease-in-out;
    -o-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.box h1 {
    height: 100%;
    margin: 0;
    color: #fff;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    font-style: italic;
    font-weight: 600;
    background: rgba(88 88 88 / 45%);
}

.box:hover {
    /* margin-bottom: 18px; */
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

h1:hover {
    background-color: rgba(0, 0, 0, .1);
}

.one {
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0)), url('./../../Assets/Images/f2.jpeg');
    /* background: url('./../../Assets/Images/f2.jpeg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.two {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('./../../Assets/Images/GalleryImages/gallery4.jpg');
    /* background: url('./../../Assets/Images/GalleryImages/gallery4.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.three {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('./../../Assets/Images/d6.jpg');
    /* background: url('./../../Assets/Images/d6.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.four {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('./../../Assets/Images/GalleryImages/gallery5.jpg');
    /* background: url('./../../Assets/Images/GalleryImages/gallery10.JPG'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.five {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('./../../Assets/Images/e2.jpg');
    /* background: url('./../../Assets/Images/e3.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
}

.six {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('./../../Assets/Images/c6.jpg');
    /* background: url('./../../Assets/Images/c6.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* //! Media queries below */
@media only screen and (max-width: 2100px) {
    .container {
        margin-bottom: 200px;
    }
    .box {
        height: 350px;
    }
}

@media only screen and (max-width: 1290px) {
    .container {
        margin-bottom: 125px;
    }
    .box {
        height: 280px;
    }
}

@media only screen and (max-width: 975px) {
    .box {
        width: 27%;
        height: 260px;
    }
    .box h1 {
        font-size: 17px;
    }
    .wrap {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 880px) {
    .box {
        width: 43%;
        height: 240px;
    }
    .box h1 {
        font-size: 16px;
    }
}

@media only screen and (max-width: 800px) {
    .box {
        margin: 5px;
        width: 45%;
        height: 200px;
    }
    .box h1 {
        color: #fff;
        padding: 5px;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        margin-bottom: 75px;
    }
    .box {
        height: 200px;
    }
}